$white: #eae1e1;
$ground-header: #100c0c;
$ground-menu: #171313;
$ground-button-grey: #282222;
$ground-button-gradient: linear-gradient(
  to bottom,
  #ef544a 7.81%,
  #c6251a 42.19%,
  #c6251a 42.2%
);
$icon-yellow: #e4a90f;

$mobile: "899px";
$tablet: "1199px";
$desktop: "1599px";
$big-desktop: "1919px";
